
<div class="container-fluid">

    <div class="card mb-4">

        <div class="card-header">
            Acessos
        </div>
        <!-- End Card Header -->
        <div class="card-body">

            <form action="" method="get">

                <div class="form-row">

                    <div class="col-md4 md-3">

                        <label>Usuário:</label>
                        <select class="custom-select" name="user" id="idUser">
                            <option value="">Diego Broetto</option>
                            <option value="">Robson Quedevez</option>
                            <option value="">Rafael Maia</option>
                        </select>
                        <br>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Tela</th>
                                  <th>Inserir</th>
                                  <th>Atualizar</th>
                                  <th>Deletar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Usuários</td>
                                  <td class="text-top	text-bottom">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="insertUser">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="updateUser">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="deleteUser">
                                    </div>
                                  </td>
                                </tr>

                                <td>Departamentos</td>
                                <td>
                                  <div class="form-check">
                                      <input class="form-check-input " type="checkbox" value="" id="insertDepartment">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="updateDepartent">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="deleteDepartment">
                                  </div>
                                </td>
                              </tr>

                              <td>Categorias</td>
                              <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="insertCategory">
                                </div>
                              </td>
                              <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="updateCategory">
                                </div>
                              </td>
                              <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="deleteCategory">
                                </div>
                              </td>
                            </tr>

                            </table>
                          </div>

                          <button type="submit"  class="btn btn-primary" data-toggle="modal" data-target="#saveModal">Gravar</button>

                    </div>

                </div>
  

            </form>

        </div>
        <!-- End Card Body -->


    </div>



</div>      
  