
                
                <div class="container-fluid">


                  <div class="card mb-4">
                    <div class="card-header">
                      Arquivos Privados: Tecnologia da Informação
                    </div>
                    <div class="card-body">
                      
                      <!-- Inicio Tabela Departamento -->
                      
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Nome do Arquivo:</th>
                              <th>Usuário:</th>
                              <th>Departamento:</th>
                              <th>Categoria:</th>
                              <th>Tamanho:</th>
                              <th>Data da Inclusão:</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Gestão de Impressoras.pdf</td>
                              <td>Diego Broetto</td>
                              <td>Tecnologia da Informação</td>
                              <td>Infra</td>
                              <td>35mb</td>
                              <td>01/01/2020 15:30</td>
                              <td>
                                <button class="btn btn-link"><i class="fas fa-download"></i></button>
                                <button class="btn btn-link"><i class="fas fa-history" data-toggle="modal" data-target="#historyModal"></i></button>
                                <button class="btn btn-link"><i class="far fa-trash-alt" data-toggle="modal" data-target="#deleteModal"></i></button>
                              </td>
                            </tr>
                        </table>
                      </div>
      
      
                        
                    </div>
                  </div>
 
              </div>
              <!-- /.container-fluid -->

    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deseja excluir o arquivo?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Não</button>
            <a class="btn btn-primary" href="#">Sim</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Hisotory Modal-->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Histórico do Documento</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="main-timeline7">
                          <div class="timeline">
                              <div class="timeline-icon"><i class="fas fa-plus-circle"></i></div>
                              <span class="year">12/05/2018 18:30</span>
                              <div class="timeline-content">
                                  <h5 class="title">Inserido</h5>
                                  <p class="description">
                                      <span>Folha_de_Pagamento_V5.pdf</span><br>
                                      Alterado por: </span>Diego Broetto</span>
                                  </p>
                              </div>
                          </div>
                          <div class="timeline">
                              <div class="timeline-icon"><i class="fas fa-edit"></i></div>
                              <span class="year">15/05/2017 15:50</span>
                              <div class="timeline-content">
                                  <h5 class="title">Atualizado</h5>
                                  <p class="description">
                                      <span>Folha_de_Pagamento_V6.pdf</span><br>
                                      Alterado por: </span>Robson Quedevez</span> 
                                  </p>
                              </div>
                          </div>
                          <div class="timeline">
                              <div class="timeline-icon"><i class="far fa-trash-alt"></i></div>
                              <span class="year">15/05/2017 15:50</span>
                              <div class="timeline-content">
                                  <h5 class="title">Excluído</h5>
                                  <p class="description">
                                      <span>Folha_de_Pagamento_V5.pdf</span><br>
                                      Alterado por: </span>Diego Broetto</span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
      </div>