
        <div class="container-fluid">

          <h1 class="h3 mb-4 text-gray-800">Arquivos Públicos</h1>

          <div class="col-md-12">

            <div class="row">
              {loop="$departamento"}

                <div class="col-xl-3 col-md-4 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" > <a href="/file/public/{$value.id}">{$value.nome}</a></div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-folder-open fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              {/loop}
            </div>

          </div>

        </div>
      </div>