
                
                <div class="container-fluid">

                  <a href="/file/public" class="btn btn-primary border-0 mb-3">Voltar</a>

                  <div class="card mb-4">
                    <div class="card-header">
                      Arquivos Públicos {$nome}
                    </div>
                    <div class="card-body">
                      
                      <!-- Inicio Tabela Departamento -->
                      
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Nome do Arquivo:</th>
                              <th>Usuário:</th>
                              <th>Departamento:</th>
                              <th>Categoria:</th>
                              <th>Data da Inclusão:</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>

                            {loop="$documento"}

                              <tr data-id="{$value.id}">
                                <td>{$value.nome}</td>
                                <td>{$value.usuario}</td>
                                <td>{$value.departamento}</td>
                                <td>{$value.categoria}</td>
                                <td>{function="formatDate($value.dtHrEnvio)"}</td>
                                <td>                                  
                                  <button class="btn btn-link btnHistory fas fa-clock"></button>
                                  <a class="btn far fa-file-pdf center" href="http://www.intranet.com.br{$value.caminho}" title="{$value.nomeArquivo}" target="_blank"></a>
                                </td>
                              </tr>

                            {/loop}
                            
                          </tbody>
                        </table>
                      </div>
      
      
                        
                    </div>
                  </div>
 
              </div>
              <!-- /.container-fluid -->

    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deseja excluir o arquivo?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Não</button>
            <a class="btn btn-primary" href="#">Sim</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Hisotory Modal-->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Histórico do Documento</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="main-timeline7" id="timelineBody">
                          
                      </div>
                  </div>
              </div>
          </div>

          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
      </div>