
                <div class="container-fluid">


                  <div class="card mb-4">
                    <div class="card-header">
                      Cadastro de Categorias
                    </div>
                    <div class="card-body">
                      
                      <!-- Inicio Form Cadastro de Categorias-->
                      <form id="frm-register-category">
      
                        <div class="form-row">
                          <div class="col-md-4 mb-3">
                            <label>Nome Categoria: </label>
                            <input type="text" class="form-control" id="idCategoria" placeholder="Categoria" name="categoria" required>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label>Departamento:</label>
                            <select class="custom-select" name="departamento" id="idDepartamento">
                              <option value="0">Selecione</option>

                              {loop="$departament"}

                                <option value="{$value.id}">{$value.nome}</option>

                              {/loop}

                            </select>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label>Gravar: </label>
                            <div class="input-group">
                              <button type="submit" class="btn btn-primary" id="idSalvarCat">Incluir Categoria</button>                              
                            </div>
                          </div>
                        </div>
                    
                      </form> 
                      <!-- Fim Form Cadastro de Categorias -->
      
                      <!-- Inicio Tabela Departamento -->
                      <div class="table-responsive">
                        <table class="table table-bordered" id="table-category" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Categoria</th>
                              <th>Departamento</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>

                            {loop="$category"}

                               <tr data-id="{$value.id}">
                                  <td>{$value.nome}</td>
                                  <td>{$value.departamento}</td>
                                  <td>
                                    <button class="btn far fa-trash-alt center btnDelCategory"></button>
                                    <button class="btn far fa-edit center btnUpCategory"></button>
                                  </td>
                                </tr>

                            {/loop}

                        </table>
                      </div>
                    </div>
                  </div>
              </div>
            </div>


            <div class="modal fade" id="response" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body"> 
                    <span id="text-response"></span>
                  </div>
                  <div class="modal-footer">
                      <button data-dismiss="modal" class="btn btn-primary">Fechar</button>
                  </div>             
                </div>
              </div>
            </div>