                <div class="container-fluid">


                  <div class="card mb-4">
                    <div class="card-header">
                      Cadastro de Departamento
                    </div>
                    <div class="card-body">
                      
                      <!-- Inicio Form Cadastro de Deparmento -->
                      <form action="/register/departament/insert" method="post" id="frm-register-departament">
      
                        <div class="form-row">
                          <div class="col-md-4 mb-3">
                            <label>Departamento</label>
                            <input type="text" class="form-control" id="idDepartamento" placeholder="Departamento" name="departamento" required>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label>Gestor:</label>
                            <select class="custom-select" name="gestor" id="idGestor">
                              <option value="0">Selecione</option>

                              {loop="$managers"}

                              <option value="{$value.id}">{$value.nome}</option>

                              {/loop}

                            </select>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label>Gravar: </label>
                            <div class="input-group">
                              <button type="submit" class="btn btn-primary" id="idSalvarDpt">Salvar Departamento</button>
                            </div>
                          </div>
                        </div>
                    
                      </form> 
                      <!-- Fim Form Cadastro de Deparmento -->
      
                      <!-- Inicio Tabela Departamento -->
                      <div class="table-responsive">
                        <table class="table table-bordered" id="table-departament" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Departamento</th>
                              <th>Gestor</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>

                            {loop="$departaments"}

                            <tr data-id={$value.id}>
                              <td>{$value.nome}</td>
                              <td>{$value.gestor}</td>
                              <td>
                                <button class="btn far fa-trash-alt center btnDelDepartament"></button>
                                <button class="btn fa fa-edit center btnUpDepartament"></button>
                              </td>
                            </tr>

                            {/loop}

                          </tbody>
                        </table>
                      </div>
                      
                    </div>
                  </div>

              </div>

      </div>

      <div class="modal fade" id="response" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body"> 
                <span id="text-response"></span>
              </div>
              <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-primary">Fechar</button>
              </div>             
            </div>
          </div>
        </div>
