      
      <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="background: none; border: none;">
              <div class="modal-body text-center" style="background: none; "> 
                <div class="spinner-border text-light" role="status" style="width: 80px; height: 80px;">
                  <span class="sr-only">Loading...</span>
                </div>
                <p class="text-light">Processando...</p>
              </div>              
            </div>
          </div>
        </div>
            
  
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Intranet Corporativa 2020</span>
          </div>
        </div>
      </footer>

    </div>


  </div>
  <script src="/../views/vendor/jquery/jquery.min.js"></script>
  <script src="/../views/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/../views/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/../views/js/sb-admin-2.min.js"></script>
  <script src="/../vendor/fontawesome-free-5.13.0-web/js/all.js"></script>
  <script src="/../views/js/functions.js"></script>

</body>

</html>