
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
              <div class="col-12">
                  <div class="card">
  
                      <div class="card-body">
                          <div class="card-title mb-4">
                              <div class="d-flex justify-content-start">
                                  <div class="image-container img-pf" >
                                    {if="$avatar != NULL"}
                                      <img src="/views/img/avatar/{$avatar}" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    {else}
                                      <img src="/views/img/avatar/default.png" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    {/if}
                                      <div class="middle">
                                          <input type="button" class="btn btn-secondary" id="btnChangeAvatar" value="Trocar" />
                                          <form enctype="multipart/form-data" id="frm-insert-avatar">
                                            <input type="file" style="display: none;" id="profileAvatar" accept=".jpg, .jpeg, .png" name="file"/>
                                            <input type="hidden" style="display: none;" id="IdUserSession" value="{$id}" />
                                          </form>
                                      </div>
                                  </div>
                                  <div class="userData ml-3">
                                      <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{$nome}</a></h2>
                                  </div>
                                  <div class="ml-auto">
                                      <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                  </div>
                              </div>
                          </div>
  
                          <div class="row">
                              <div class="col-12">
                                  <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Informações </a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Opções </a>
                                      </li>
                                  </ul>
                                  <div class="tab-content ml-1" id="myTabContent">
                                      <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                          
  
                                          <div class="row">
                                              <div class="col-sm-3 col-md-2 col-5">
                                                  <label style="font-weight:bold;">Usuário: </label>
                                              </div>
                                              <div class="col-md-8 col-6">
                                                  {$usuario}
                                              </div>
                                          </div>
                                          <hr />
  
                                          <div class="row">
                                              <div class="col-sm-3 col-md-2 col-5">
                                                  <label style="font-weight:bold;">Departamento: </label>
                                              </div>
                                              <div class="col-md-8 col-6">
                                                  {$departamento}
                                              </div>
                                          </div>
                                          <hr />

                                          <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Gestor: </label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {$gestor}
                                            </div>
                                        </div>
                                        <hr />
  
                                      </div>
                                      <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                          <button class="btn btn-primary" data-toggle="modal" data-target="#trocarSenhaModal"> Trocar Senha </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="modal fade" id="trocarSenhaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Trocar Senha:</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                  <a class="btn btn-primary" href="/logout">Trocar</a>
                </div>
              </div>
            </div>
  
        </div>      
  
  